@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Karla:wght@400;700&display=swap');
@import '../sass/mixins';

// CORE STYLES
html {
  height: 100%;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

// FONTS
$pry-font: 'DM Serif Display', serif;
$sec-font: 'Karla', sans-serif;

// BASE COLORS
$white: #fff;
$black: #000;

// PRIMARY COLORS
$darkViolet: hsl(256, 26%, 20%);
$grayishBlue: hsl(216, 30%, 68%);

// NEUTRAL COLORS
$veryDarkViolet: hsl(270, 9%, 17%);
$darkGrayishViolet: hsl(273, 4%, 51%);
$veryLightGray: hsl(0, 0%, 98%);

body {
  font-family: $sec-font;
  line-height: 1.6;
  width: 100%;
  height: 100%;
  background-color: $veryLightGray;
}

a,
span {
  display: inline-block;
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3 {
  font-family: $pry-font;
  font-weight: 400;
  line-height: 1.1;
}

.btn {
  border: 1.5px solid $veryLightGray;
  text-transform: uppercase;
  font-weight: 700;
  color: $veryLightGray;
  font-size: 0.9rem;
  letter-spacing: 1px;
}

// HEADER SECTION
.header {
  position: fixed;
  width: 100%;
  z-index: 999;
  background-color: $white;

  .content {
    padding: 1.5rem 1rem;
    position: relative;
  }

  .d-flex {
    @include flex(space-between, center);
  }

  .logo {
    width: 95px;
  }
}

// TOOGLE MENU
.toggle-menu {
  background: url(../images/icon-hamburger.svg);
  @include bgStyles();
  height: 27px;
  width: 27px;
  cursor: pointer;
  z-index: 10;
}

// NAV SECTION
.nav {
  position: fixed;
  top: 4.5rem;
  left: 0;
  @include flex(center, flex-start);
  background-color: $veryDarkViolet;
  height: 100%;
  width: 100%;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease-in-out;

  &__bg {
    position: absolute;
    background-image: url(../images/bg-pattern-mobile-nav.svg);
    background-position: bottom center;
    background-size: contain;
    background-repeat: no-repeat;
    top: -4rem;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &__menu {
    display: block;
    width: 100%;
    margin-top: 3rem;
    z-index: 10;
    li {
      text-transform: uppercase;
      text-align: center;
      margin-bottom: 1.5rem;
      letter-spacing: 1px;
    }

    a {
      color: $white;
    }

    .cta {
      width: 90%;
      padding: 0.5rem 2rem;
      transition: background-color 0.2s ease-in-out;

      &:hover {
        background-color: $black;
        border-color: transparent;
      }
    }
  }
}

// add height to nav
.nav.showHeight {
  max-height: 100%;
}

// add close icon
.toggle-menu.active {
  background: url(../images/icon-close.svg);
  @include bgStyles();
  height: 27px;
  width: 27px;
  cursor: pointer;
  z-index: 10;
}

// HERO SECTION
#hero-section {
  padding-top: 5rem;
  width: 100%;

  .content {
    color: $veryLightGray;
    background-color: $darkViolet;
    display: flex;
    @include flex(flex-start, flex-start);
    flex-direction: column-reverse;
  }

  // hero image
  .hero-img {
    background: url(../images/image-intro-mobile.jpg);
    @include bgStyles();
    height: 100vh;
    width: 100%;
  }

  // hero title
  .title {
    position: relative;
    padding: 4rem 1rem;
    text-align: center;
    display: flex;
    @include flex(center, center);
    flex-direction: column;
    height: 60vh;
    z-index: 10;

    h1 {
      font-size: 2.5rem;
      margin-bottom: 1rem;
    }

    p {
      font-size: 0.9rem;
      margin-bottom: 1.5rem;
    }

    .text {
      z-index: 10;
    }

    // hero btn
    &__btn {
      padding: 0.3rem 1rem;

      transition: background-color 0.3s ease-in-out;

      &:hover {
        background-color: $veryLightGray;
        color: $black;
      }
    }

    // background images for text section
    .top-left--bg {
      background: url(../images/bg-pattern-intro-left-mobile.svg);
      @include bgStyles();
      background-size: cover;
      background-position: top left;
      position: absolute;
      top: 0;
      left: -2rem;
      height: 200px;
      width: 200px;
    }

    .bottom-right--bg {
      background: url(../images/bg-pattern-intro-right-mobile.svg);
      @include bgStyles();
      background-size: contain;
      background-position: right;
      position: absolute;
      bottom: -10rem;
      right: 0;
      height: 300px;
      width: 300px;
      z-index: -1;
    }
  }
}

// PLANS SECTION
#plans-section {
  h2 {
    position: relative;
    font-size: 2rem;
    padding-top: 1rem;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 20%;
      height: 0.7px;
      background-color: $darkGrayishViolet;
    }
  }

  img {
    margin: 0 auto;
  }

  .content {
    padding-top: 6rem;
    text-align: center;
  }

  .plans {
    margin: 3rem 1rem 6rem;
  }

  .figure {
    margin-top: 3rem;
  }

  .caption {
    margin-top: 1.5rem;

    span {
      font-family: $pry-font;
      font-size: 1.2rem;
      font-weight: 500;
      margin-bottom: 0.5rem;
    }

    p {
      color: $darkGrayishViolet;
    }
  }
}

// WORK SECTION
#work-section {
  color: $white;
  margin: 0 1rem;

  .content {
    position: relative;
    background-color: $darkViolet;
    text-align: center;
    padding: 2rem 1rem 4rem;

    h3 {
      font-size: 2rem;
    }
  }

  &__bg {
    background-image: url(../images/);
  }
}
